<!DOCTYPE html>
<html>
<head>
  <title>Comp</title>
  <link rel="stylesheet" type="text/css" href="comps.css">
</head>
<body>

<div class="container container--nav">
  <div class="header">
    <p class="header__text">To Do List</p>
  </div>
</div>

<div class="container container--main">
  <div class="main">
    <div class="main__sidebar">
      <div class="navigation_links">
        <div class="navigation_links__icon">
          <img src="/icons/icon_inbox.png">
        </div>
        <div class="navigation_links__name">Inbox</div>
        <div style="clear: both"></div>
      </div>

      <div class="navigation_links">
        <div class="navigation_links__icon">
          <img src="/icons/icon_calendar.png">
          </div>
        <div class="navigation_links__name">Today</div>
        <div style="clear: both"></div>
      </div>

      <div class="navigation_links">
        <div class="navigation_links__icon">
        <img src="/icons/icon_all_tasks.png">
        </div>
        <div class="navigation_links__name">All Family Tasks</div>
        <div style="clear: both"></div>
      </div>
    </div>

    <div class="main__box">
      <div class="main__box-header">Inbox (My Tasks)</div>
      <div class="main__box-complete">Mark Complete</div>
      <div class="main__box-list">Mix paint</div>
      <div style="clear: both"></div>
    </div>
  </div>
</div>

</body>
</html>